  {{!-- Overflow: hidden on top div, could apply on click event --}}
<ul class="grid">
  {{#each flags}}
    <li>
      <img class="img-responsive flags" data-id={{id}} data-original={{imgurl}} name={{name}} />
      <h4 data-id={{id}}>{{name}}</h4>
    </li>
  {{/each}}
</ul>
