<div>
  {{#each flags}}
    <div class="well">
      <h2 data-id={{id}}>{{name}}</h2>
      <img src={{imgurl}} class="img-responsive flags" data-id={{id}} data-original={{imgurl}} />
    </div>
  {{/each}}
</div>
